# day Objectives 
- python data structures
* lists
* tuples
* dictionaries
* basic program sets on data structures
* advanced problem set
* contact application(dictionary object)

 #data structures:
  * to store serach and sort the data

# python Data Structures

### lists
- it is one of common data structures supports by python, the lists items are separated by coma operator and enclosed in square brackets.
* example:- 
*list1 = [1,6,2,18,9]
*list2 = ["gitam",10,12,15,5,"hyderabad"]

In [20]:
lst = [1,8,16,9,2]
print(lst)
print(lst[0])
print(lst[1])
print(lst[-1])
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [2]:
li = ["gitam","python",1989,2002]
print(li)
li[2] = 2019
print(li)

['gitam', 'python', 1989, 2002]
['gitam', 'python', 2019, 2002]

In [3]:
# delete the specific item in the list
print(li)
del li[2]
print(li)

['gitam', 'python', 2019, 2002]
['gitam', 'python', 2002]

In [11]:
# Basic list operations
lst1 = [1,9,6,18,2]
print(len(lst1)) 
print(lst1 * 2)
print(9 in lst)
print(5 in lst)
# access the list items using iteration
for x in range(len(lst1)):
    print(lst1[x],end=' ')

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
True
False
1 9 6 18 2

In [17]:
# Function of the list
lst1
print(min(lst1))
print(max(lst1))
print(sum(lst1))
print(sum(lst1)//len(lst1))
print(sum(lst1[1::2])/len(lst1[1::2]))

1
18
36
7
13.5

In [18]:
(lst1[1::2])

[9, 18]

In [44]:
lst1
lst1.append(24) # addding a new element at the end of the list
lst1
lst1.insert(2,56) # adding an elements at particular index
lst1
lst1.count(18) # return the value how many times the object repeated
lst1.index(56)
lst1.sort() # it sort the list in ascending order
lst1
lst1.pop() # remove the last element from the list
lst1
lst1.pop(1) # remove an element from a particular index
lst2 = [123,23,45]
lst1.extend(lst2) # merge the list2 into list1
lst1.reverse()
lst1.remove(123)
lst1

[45,
 23,
 123,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 45,
 45,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 18,
 9,
 6,
 1]

In [34]:
li = [1,9,8,2,6,3]
print(li[-1::-2])

[3, 2, 9]

In [42]:
lst1

[1,
 2,
 6,
 9,
 18,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 45,
 45,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 123,
 123]

In [47]:
# Function to find the second large item from the list
# Input  : [1,19,6,2,8,18,3]
# output : 18
def secondLarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [1,19,6,2,8,18,3]
genericlarge(li,4)

6

In [50]:
# function to find the least item from the list
def secondleast(li):
    li.sort()
    return li[1]
def  genericleast(li,n):
    li.sort()
    return li[n-1]
li = [1,19,6,2,8,18,3]
genericleast(li,4)

6

### linear search
 
 * linear search algorithm can be applied on duplicate and unique list
 * duplicate list:- the items of the list can be appeared more than once
 * linear search algorithm can be applied on sorted list or unsorted list

In [4]:
# function to search the data in alist
def linearsearch(li,taritem):
    for x in range(len(li)):
        if li[x] == taritem:
            return x
    return -1
li =[1,19,6,2,8,18,3]
linearsearch(li,225)

-1

In [3]:
# function to search a number in alist 2
def linearsearch2(li,taritem):
    for x in range(len(li)):
        if li[x] == taritem:
            print(x,end=" ")
    return
li = [1,5,9,6,5,15,1,2,5]
linearsearch2(li,5)

1 4 8

In [14]:
# function to print the given character
# input : list
# output : seq of characters
# test case
# [1,5,9,6,5,15,1,2,5],tar=5 
def linearsearch3(li,taritem):
    for x in range(len(li)):
        if li[x] == taritem:
            j = 0
            while j != x + 1:
                print("!",end="")
                j = j + 1
            print(x,end=" ")
    return
li = [1,5,9,6,5,15,1,2,5]
linearsearch3(li,5) # !!!!! !!!!!!!!!

!!1 !!!!!4 !!!!!!!!!8

In [19]:
# function to search a list 4
def linearserach4(li):
        sum = 0
        for x in range(len(li)):
            if li[x] % 3 ==0 and li[x] % 5 ==0:
                sum +=li[x] 
        return sum
li = [12,2,45,9,18,15,36]
linearserach4(li) #60

60

# 1.print first and last as it is beccause first number does not have previous and last does not have next number.

# 2. need to multiply the previous and next number.

In [2]:
# function to search the integer list 5
def linearsearch5(li):
    for x in range(len(li)):
        if x == 0 or x == len(li) -1:
            print(li[x],end=" ")
        else:
            print(li[x-1]*li[x+1],end=" ")
    return 
li = [1,2,3,4,5]    
linearsearch5(li)

1 3 8 15 5

In [6]:
# function to search the integer of search list 6
def linearsearch6(li):
    for x in range(len(li)):
        if x == 0 or x == len(li) -1:
            print(li[x],end=" ")
        elif li[x-1] % 2 == 0  and li[x+1] % 2 == 0:
            print(li[x],end=" ")
    return 
li = [1,6,9,4,16,19,22]
linearsearch6(li) # 1 9 19 22

1 9 19 22

# number to list
* input as number
* expected output will be listed

In [8]:
# function for converstion - number to list
# input : number
# output : list 
def numberlistconversion(n):
    li = []
    while n != 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberlistconversion(14569) # [1,4,5,6,9]

[1, 4, 5, 6, 9]

In [13]:
# function to count the occurances of a character in astring
def countcharoccurances(s,c):
    cnt = 0
    for ch in s:
        if ch == c:
            cnt += 1
    return cnt
def countcharoccurancess1(s,c):
    return s.count(c)
countcharoccurances("python programming ",'a')

1

# string to list conversion

* input will be string
* expected output will be list

In [15]:
# function to convert the string to list
def stringtolistconversions(s):
    li = s.split()
    numberlist = []
    for i in li:
        numberlist.append(int(i))
    return numberlist                                                                  
s = "1 2 3 4 5 6"
stringtolistconversions(s) # [1,2,3,4,5,6 ]

[1, 2, 3, 4, 5, 6]

# sorting algorithms:
 
* all the sorting algorithms makes the list into ascending order
   * bubble sort
   * selection sort
   * insertion sort

### bubble sort:-

  * this algorithm compares the adj elements, if the first element is greater.
  * than second element

In [17]:
# function to perform bubble sort
def bubblesort(li):
    for i in range (len(li)-1):
        for j in range(len(li)-1):
            if li[j] > li [j+1]:
                li[j],li[j+1] = li [j+1],li[j]
    return li
li = [19,1,25,6,18,3]
bubblesort(li)

[1, 3, 6, 18, 19, 25]