In [1]:
print("Hello gitam")

Hello gitam

In [2]:
print("Hello gitam")
print("Hyderabad")

Hello gitam
Hyderabad

In [4]:
print("hello gitam,""|||",end="")
print("Hyderabad",end="||")
print("pythonprogramming")

hello gitam,|||Hyderabad||pythonprogramming

ASSIGNMENT

In [1]:
*n1=100
a=b=c=20
a1,b1,c1=111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [2]:
a=100;ï¿¼Desktop
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
i=100 
print(type(i))
s1=str(i)#str() converts the input in to st*ring type
print(type(s1))
f1 = float(i)# float() converts the input in to float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [2]:
s1 ="100"
print(type(s1))
a = int(s1)
priwork lognt(type(a))

f = 1.5
a1 = int(f)*
print(type(a1))
print(a1)*

<class 'str'>
<class 'int'>
<class 'int'>
1

In [3]:
# a number is given 1234
# digit count 
a1 = 1234
print(len(str(a1)))

4

reading a value input("message")-string

In [5]:
s1 = input ("enter your name")
print(s1)*
print(type(s1))

enter your namearchana
archana
<class 'str'>

In [6]:
# want a number as a input
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number2
2 <class 'int'>

operators:-

           operator is a symbo; is used to perform a specific kind of operations
           **## arthematic operations**
           +*
           -
           /*
           %
           **
           //

coding python.

In [7]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [8]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

# relational operators


-  ==
-  !=*
-  greater(>)
-  less than(<)
-  lessthan or equals to (<=)
-  greater than or equals to (>=)

In [9]:
x = 10
a1 = x>15
print(a1)*

False

*# logical operators

used to combine more single condition
* add
* or 
* not

### precendence of the arth operators
- parenthesis
- power
- division 
- work logwork logmultiplication
- addition
left to right

In [14]:
# To check the given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even ")
else:
  work log  print("odd")

enter a number3
odd

In [23]:
# To check whether the given number is perfectly multiple of 3 and 5
n = int(input("enter the number"))
if n%3 == 0 and n%5 == 0:
        print ("yes")
else:
        print("no")

enter the number5
no

In [24]:
000000

0

In [ ]:
# test given number is positive, negative or zero 
n = int (input ("enter the number "))